In [2]:
import pandas as pd

In [3]:
df1=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['A','B','c'])

In [4]:
df1

   A  B  c
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
df2=pd.DataFrame([[100,200,300],[400,500,600],[700,800,900]],columns=['X','Y','Z'])

In [6]:
df2

     X    Y    Z
0  100  200  300
1  400  500  600
2  700  800  900

In [8]:
df3=pd.merge(df1,df2,left_on='B',right_on='Y')

In [10]:
df3

Empty DataFrame
Columns: [A, B, c, X, Y, Z]
Index: []