In [1]:
import numpy as np
import pandas as pd

In [2]:
text=pd.DataFrame()
print(text)

Empty DataFrame
Columns: []
Index: []

In [4]:
t=pd.Series()
print(t)

Series([], dtype: object)

In [16]:
info=np.array(['p','a','n','d','a','s'])
t=pd.Series(info)
t.head(2)
t.tail(3)

3    d
4    a
5    s
dtype: object

In [22]:
data=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16,17]]
info=pd.DataFrame(data)
info.head(2)
info.tail(2)

    0   1   2   3     4
2   9  10  11  12   NaN
3  13  14  15  16  17.0

## series

In [23]:
import pandas as pd  
import numpy as np  
info = {'x' : 0., 'y' : 1., 'z' : 2.}  
a = pd.Series(info)  
print (a)

x    0.0
y    1.0
z    2.0
dtype: float64

In [25]:
x = pd.Series([1,2,3],index = ['a','b','c'])  
#retrieve the first element  
print (x[2])

3

In [35]:
x=pd.Series(data=[2,4,6,8])   
y=pd.Series(data=[11.2,18.6,22.5], index=['a','b','c'])   
print(x.index)   
print(x.values)   
print(y.index)   
print(y.values)
print(x.dtype)
# print(x.itemsize)
print(y.dtype)
# print(y.itemsize)
print(x.shape,y.shape)
print(x.size,y.size)
print(x.ndim,y.ndim)
print(x.nbytes,y.nbytes)

RangeIndex(start=0, stop=4, step=1)
[2 4 6 8]
Index(['a', 'b', 'c'], dtype='object')
[11.2 18.6 22.5]
int64
float64
(4,) (3,)
4 3
1 1
32 24

In [36]:
a=pd.Series(data=[1,2,3,np.NaN])   
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])   
c=pd.Series()   
print(a.empty,b.empty,c.empty)   
print(a.hasnans,b.hasnans,c.hasnans)   
print(len(a),len(b))   
print(a.count( ),b.count( ))

False False True
True False False
4 3
3 3